body {
    margin:0;
    font-family: system-ui;
}

.parallax, .parallax1 {
    background-image:url('') ;
    height: max-content;
    background-attachment:fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-title {
    background: rgba(0,0,0,0.5);
    text-align: center;
    color: white;
    padding: 50px;
    font-variant: small-caps;
    font-size: 100px;
    font-family: fantasy;
    letter-spacing: 20px;
}

.menu{
    background: #184d47;
    text-align: center;

}

.menu-ul{
    margin:0;
    padding: 0;
    display: inline;
}

.menu-ul li {
    font-size: 17px;
    list-style: none;
    display: inline-block;
    padding: 25px 25px 26px 25px;
}

.a-menu, .a-links {
    text-decoration:none;
    color:white;
}

.menu-ul li:hover {
    background: #5b8c5abd;
    transform: scale(1.1);
    border-radius: 8px;
}

.search-box{
    border:1px solid white;
    border-radius: 50px;
    background:white;
    width: max-content;
    display: inline-block;
    margin:8px;
}

.search-box:hover {
    box-shadow:0 0 10px 2px #5b8c5a;
    border:1px solid #5b8c5a;
}

.search-input {
    width:250px;
    border:none;
    font-size:16px;
    outline:none;
    background:transparent;
    margin:15px 0 0 10px;   
}

i{
    font-size:20px;
    margin:0 0 10px 0;
}

button{
    background:transparent;
    border:none;
    outline:none;
    color: white;
}

button:hover {
    background: #5b8c5abd;
    transform: scale(1.1);
    border-radius: 8px;
}

.container {
    margin:50px 50px 50px 5%;
    width:90%;
    text-align:center;
}

.categories, .shop-items{
    width:max-content;
    margin:25px;
    border:1px solid #184d47;
    border-radius:0 0 50px 50px;
    display:inline-block;
}

.categories:hover, .items:hover{
    box-shadow:0 0 10px 3px #184d47;    
}

.item-image{
    height:200px;
    width:200px;
    border-radius:0 0 50px 50px;
    padding:10px;
}

.image-title{
    text-align:center;
    padding:10px;
    font-weight: bold;
}

a{
    text-decoration:none;
}

.title{
    padding: 50px;
    font-size: 50px;
    font-weight: bold;
    letter-spacing:10px;
    color:white;
    background:rgba(0,0,0,0.5);
}

.images{
    display:inline-block; 
}

.shop-item-image{
    height:200px;
    width:300;
    padding:5px;
}

.shop-item-title, .shop-item-price{
    margin-left: 20px;
}
.shop-item-button {
    margin-left: 30px;
    border:1px solid #184d47;
    background: #184d47;
    padding:5px 15px;
    border-radius: 20px;
    padding: 5px;
    font-weight:bold;
    color:white;
}

.shop-item-button:hover{
    border:1px solid #5b8c5a;
    box-shadow:0 0 10px 5px #5b8c5a inset;
}






.description{
    margin:20px;
    min-height:100px;
}

.item-select{
    margin:10px 0 0 0;
}

.btn-purchase{
    border:1px solid #184d47;
    background: #184d47;
    padding:5px 15px;
    border-radius: 20px;
    padding: 10px;
    font-weight:bold;
    margin-top:10px;
    color:white;
}

.btn-purchase:hover{
    border:1px solid #5b8c5a;
    box-shadow:0 0 10px 5px #5b8c5a inset;
}

.parallax1 {
    background-image:url('');   
}

.footer{
    background: rgba(0,0,0,0.5);
    text-align:center;
    padding:20px;
}

.quick-links{
    color:white;
    font-size:20px;
    font-weight:bold;
    display: inline-block;
    min-width:30%;
}

.quick-links ul{
    padding:0;
}

.quick-links li {
    list-style:none;
    padding:10px;
    font-weight:300;
}

.a-links:hover{
    color:#fd5e53; 
}

.copyrights {
    font-size:16px;
    font-family:verdana, arial, Arial, Helvetica, sans-serif;
    text-align:center;
    margin:15px;
}

/*------slider-animation starts here--------*/




