<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EasyDay</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Easy Day</h1>
  </header>
  <nav>
    <a href="/" class="a-menu">Home</a>
    <a href="/gallery/1" class="a-menu">Vegetables</a>
    <a href="/gallery/2" class="a-menu">Fruits</a>
    <a href="/gallery/3" class="a-menu">Meats</a>
    <a href="/gallery/4" class="a-menu">SeaFood</a>
    <a href="/gallery/5" class="a-menu">Cart</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    <aside>
      <h2>Find what you need!</h2>
    </aside>
    <div class="gallery">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>