<section class="painting">
  <img src="/images/{{painting.filename}}" alt="{{painting.description}}">
  <div class="painting-details">
    <h3>{{painting.name}}</h3>
    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
  </div>
</section>